<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
    <link href="/css/view.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('./partials/nav-bar'); %>

    <!-- <div >
      <img src="/images/head5.jpg" class="img-fluid" alt="...">
      <div class="jumbotron">
        <h1 class="display-4">Hello! </h1>
        <p class="lead">This is a midterm project by Blockchain</p>
        <hr class="my-4">
        <p>Team members:  </p>
        <a class="btn btn-dark btn-lg" href="https://github.com/" role="button">Source code in github</a>
      </div>
    </div> -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><%= data.category%></h1>
          <p class="lead">Просто выберите понравившиеся товар и мы доставим вам до двери</p>
        </div>
      </div>
    
            <div class="all">
                <div class="card-deck">
                    <% for(let i=0; i < data.length; i++) { %>
                        <form action="/order" method="POST" class="card">
                            <input hidden name="id" value=<%= data[i].id %>>
                            <input hidden name="name" value=<%= data[i].title %>>
                            <input hidden name="img" value=<%= data[i].image %>>
                            <input hidden name="desc" value=<%= data[i].description %>>
                            <img src="/images/<%= data[i].image %>"  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%= data[i].title %></h5>
                                <p class="card-text"><%= data[i].description %></p>
                                <button type="submit" class="btn btn-dark">Заказать</button>
                            </div>
                        </form>
                    <% } %> 
                </div>
            </div>

</body>
</html>